
p {
  font-family:sans-serif;
  color: #c2cfd2;
  text-align: justify;
}
*{
  font-family:sans-serif;
  color: #c2cfd2;
  text-align: justify;
}
.cuerpo {
  width: 80%;

  margin: 0 auto;
}
li{
  color: #c2cfd2;
  font-size: 24px;
  list-style: none;
  padding-left: 20px;
  text-transform: capitalize;
}

/*primero en el móvil (mobile first)*/


nav li a {

    text-transform: uppercase;
}


/* @media-query */

body {
  background-color: #1e2027 !important;
}

h1 {
  color: #c2cfd2;
}


.c_centro{
  background: white;
  width: 100%;
}

.t_gray {
  color: #f3f2f2;
}

.espacio {
  padding: 10px;
}


/*FORMULARIO CLASES */

.formulario {
  width: 40%;
  margin: 0 auto;
}
input, textarea {
  width: 100%;

}
/* fin Formulario */

.std{
    color:#c2cfd2; 
    font-size: 28px; 
    font-family:sans-serif;
    padding: 20px;
}
.footer {
    background: gray;
    color: white;
    text-align: center;
}
